html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  margin-top: -16px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}
.container{
  border-radius: 30px;
  padding-left: 50px;
  background-color: whitesmoke;
}

.container img{
  border-radius: 10px;
}
.container h2{
  padding: 20px 0 0px;
}
.container p{
  padding: 0 0 20px;
}
